@model IEnumerable<SistemaFacturacion.Models.Articulo>

@{
    ViewBag.Title = "Index";
}

<h2>Articulo</h2>

@using (Html.BeginForm())
{
    <p>
        Buscar por descripcion: @Html.TextBox("descripcion")
        <input type="submit" value="Buscar" />
    </p>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio_Unitario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vencimiento)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio_Unitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vencimiento)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id_Articulo }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id_Articulo }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id_Articulo })
            </td>
        </tr>
    }

</table>
